<!DOCTYPE html>
<html>
  <head>
    <meta name="referrer" content="no-referrer" />
    <meta charset="utf-8"><meta name="referrer" content="unsafe-url" />
    <meta name="referrer" content="origin" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <title>Redirecting to a random bing search...</title>
  </head>
  <body>
    <script type="text/javascript">
      var question = "{{ question }}";
    </script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
